.product {
    height: 275px;
    width: 25%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    position: relative;
    border: 1px solid grey;
    margin: 2px;

    .image {
        height: 210px;
        background-size: cover;
        background-position: center;
        margin-bottom: 1%;
    }
}