.result-page {
    display: inline-flex;

    .main-body {
        text-align: right;
        .option{
            display: inline-flex;
            text-align: right;
            padding-right: 5%;
        }
    }

    @media screen and (min-width: 555px) {
        .sidebar{
            display: block;
            width: 190px;
        }
        .main-body {
            width: 85%;
        }
    }
    @media screen and (max-width: 555px) {
        .sidebar{
            display: none;
        }
        .main-body {
            width: 100%;
        }
    }
}