.search-bar {
    height: 40px;
    text-align: center;
    .search-form {
        .keyword-input {
            height: 30px;
            font-size: 18px;
        }
        .submit-button {
            height: 30px;
        }
    }
}