button {
    border: none;
    padding: 0;
}

* {
    font-family: 'Oxygen';
}

a {
    color:black;
    text-decoration: none;
}

a:hover 
{
     color: black; 
     text-decoration:none; 
     cursor:pointer;  
}